/* Back Button */
.back-btn {
    font-size: 32px;
    color: #31312D;
    text-decoration: none;
    line-height: 1;
}

/* CTA */
.cta-btn {
    display: inline-block;
    padding: 10px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4D5D3F;
    border: none;
    cursor: pointer;
    gap: 8px;
    transition: all 0.2s;
}
.cta-btn:hover {
    opacity: 0.9;
}

.form-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.form-btn a {
  text-decoration: none;
}
.cta-btn-secondary {
    display: inline-block;
    padding: 10px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000;
    cursor: pointer;
    gap: 8px;
    transition: all 0.2s;
}
.cta-btn-secondary:hover {
    color: #000000;
    background: #FFFFFF;
}
@media (min-width: 768px) {
    .cta-btn,
    .cta-btn-secondary {
        padding: 8px 24px;
        font-size: 18px;
        line-height: 24px;
    }
}
@media (min-width: 1024px) {
    .cta-btn,
    .cta-btn-secondary {
        font-size: 22px;
    }
}