/* Back Button */
.back-btn {
    font-size: 32px;
    color: #31312D;
    text-decoration: none;
    line-height: 1;
}

/* CTA */
.cta-btn { 
    padding: 6px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #4D5D3F;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: opacity 0.2s;
}
.cta-btn:hover {
    opacity: 0.9;
}

.form-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.form-btn a {
  text-decoration: none;
}

@media (min-width: 768px) {
    .cta-btn {
        padding: 8px 24px;
        font-size: 22px;
        line-height: 24px;
    }
}