.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-group label
.form-check label  {
  font-size: var(--fs-label);
  font-weight: 500;
  margin-bottom: .6rem;
}

.form-group input,
.form-group select
.form-group textArea {
  font-size: var(--fs-input);
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .6rem;
}

.form-help {
  font-size: var(--fs-help);
  margin: .6rem 0 0;
  color: var(--color-muted);
}

.form-check {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin: 1rem 0;
}

.form-check input {
  width: 1rem;
  height: 1rem;
  margin-top: .2rem;
}

.form-check a {
  color: inherit;
  text-decoration: underline;
}