html {
    font-size: 62.5%;
}

:root {
    /* Brand identity colors */
    --color-primary: black;
    --color-secondary: #4D5D3F;
    --color-accent: #9F9172;

    /* Neutral colors */
    --color-text: black;
    --color-muted: #454540;
    --color-bg: #ffffff;
    --color-surface-alt: #DED8CC;   

    /* Typography */
    --font-primary: 'Inter', sans-serif;
    /* --font-secondary: 'Raleway', sans-serif; */

    /* Font sizes */
    /* Body text scale */
    --fs-sm: 1.4rem;  /* 14px */
    --fs-md: 1.6rem;     /* 16px */
    --fs-lg: 2rem;  /* 20px */

    /* Display / hero section scale */
    --fs-display-sm: 4rem;   /* 40px */
    --fs-display-md: 5.6rem;   /* 56px */
    --fs-display-lg: 7.2rem;   /* 72px */

    /* Spacing */
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
}