<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#home">
                <img src="./public/images/LOGO_LOLOSCAFE_VECTORIZADO.svg" alt="Lolo's Café Logo">
            </a>
        </div>
        <nav class="nav">
            <a href="#home">HOME</a>
            <a href="#contacto">CONTACTO</a>
            <a href="./index.html">SOBRE NOSOTROS</a>
        </nav>
       <div class="header-actions">
            <button class="menu-btn">MENÚ</button>
            <a href="./signup.html" class="icon-btn">
              <svg class="icon" viewBox="0 0 24 24">
                <circle cx="12" cy="8" r="4" stroke="#31312D" stroke-width="1.5" fill="none"/>
                <path d="M 4 20 Q 4 16 12 16 Q 20 16 20 20" stroke="#31312D" stroke-width="1.5" fill="none" stroke-linecap="round"/>
              </svg>
            </a>
            <button class="icon-btn">
                <animated-icons class="icon-animated"
                src="https://animatedicons.co/get-icon?name=Cart&style=minimalistic&token=46475390-3e9d-4ccd-9834-a94888682feb"
                trigger="loop-on-hover"
                attributes='{"variationThumbColour":"#FFFFFF","variationName":"Normal","variationNumber":1,"numberOfGroups":1,"backgroundIsGroup":false,"strokeWidth":2.5,"defaultColours":{"group-1":"#000000","background":"#FFFFFF"}}'>
                </animated-icons>
            </button>
        </div>
    </div>
</header>
