<header class="header">
    <nav class="navbar navbar-expand-md navbar-custom">
        <div class="container">
            <a class="navbar-brand">
                <img src="./public/images/LOGO_LOLOSCAFE_VECTORIZADO.svg" alt="Lolo's Café Logo" height="25">
            </a>
            <!-- Contenido -->
            <div class="collapse navbar-collapse" id="navbarMain">
                <!-- Links centrados -->
                <ul class="navbar-nav mx-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NOSOTROS</a>
                    </li>
                </ul>
            </div>

            <!-- Botones derecha -->
            <div class="d-flex align-items-center gap-2 ms-auto me-3 mx-md-auto">
                <button class="menu-btn">MENÚ</button>
                <button class="icon-btn">
                    <svg class="icon" viewBox="0 0 24 24">
                        <circle cx="12" cy="8" r="4" stroke="#31312D" stroke-width="1.5" fill="none" />
                        <path d="M 4 20 Q 4 16 12 16 Q 20 16 20 20" stroke="#31312D" stroke-width="1.5" fill="none"
                            stroke-linecap="round" />
                    </svg>
                </button>
                <button class="icon-btn">
                    <animated-icons class="icon-animated"
                        src="https://animatedicons.co/get-icon?name=Cart&style=minimalistic&token=46475390-3e9d-4ccd-9834-a94888682feb"
                        trigger="loop-on-hover"
                        attributes='{"variationThumbColour":"#FFFFFF","variationName":"Normal","variationNumber":1,"numberOfGroups":1,"backgroundIsGroup":false,"strokeWidth":2.5,"defaultColours":{"group-1":"#000000","background":"#FFFFFF"}}'>
                    </animated-icons>
                </button>
            </div>
            <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
            </button><!-- Botón hamburguesa -->
        </div>
    </nav>
</header>