<div class="py-5 px-3">
    <a href="/" class="navbar-brand">
        <img src="/public/logos/loloscafe-vector.svg" class="mb-3" alt="Lolo's Café Logo">
    </a>
    <h3>Administrador</h3>
</div>

<div class="nav-admin-sidebar px-3">
    <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard.html">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/products.html">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/orders">Gestión de pedidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users.html">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/menu.html">Menú</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/settings">Configuración</a>
        </li>
    </ul>
</div>